Repository IbexOmega/CrazyCanvas, pull requests merged in 2020-12, with the labels that each got.

#476 Bug fixes
  CrazyCanvas/Include/Chat/ChatManager.h
  CrazyCanvas/Include/Events/PlayerEvents.h
  CrazyCanvas/Include/Events/ServerEvents.h
  CrazyCanvas/Include/GUI/ServerInfo.h
  CrazyCanvas/Include/Lobby/Player.h
  CrazyCanvas/Include/Match/Match.h
  CrazyCanvas/Include/Match/MatchClient.h
  CrazyCanvas/Include/Multiplayer/ClientHelper.h
  CrazyCanvas/Include/Multiplayer/ServerHelper.h
  CrazyCanvas/Include/States/PlaySessionState.h
  CrazyCanvas/Include/States/ServerState.h
  CrazyCanvas/Source/Chat/ChatManager.cpp
  CrazyCanvas/Source/CrazyCanvas.cpp
  CrazyCanvas/Source/GUI/LobbyGUI.cpp
  CrazyCanvas/Source/GUI/MultiplayerGUI.cpp
  CrazyCanvas/Source/GUI/SavedServerGUI.cpp
  CrazyCanvas/Source/Lobby/Player.cpp
  CrazyCanvas/Source/Lobby/PlayerManagerClient.cpp
  CrazyCanvas/Source/Lobby/PlayerManagerServer.cpp
  CrazyCanvas/Source/Match/Match.cpp
  CrazyCanvas/Source/Match/MatchClient.cpp
  CrazyCanvas/Source/Multiplayer/ClientHelper.cpp
  CrazyCanvas/Source/Multiplayer/MultiplayerBase.cpp
  CrazyCanvas/Source/Multiplayer/ServerHelper.cpp
  CrazyCanvas/Source/Multiplayer/SingleplayerInitializer.cpp
  CrazyCanvas/Source/States/LobbyState.cpp
  CrazyCanvas/Source/States/PlaySessionState.cpp
  CrazyCanvas/Source/States/ServerState.cpp
  LambdaEngine/Include/Networking/API/ClientBase.h
  LambdaEngine/Include/Networking/API/ClientRemoteBase.h
  LambdaEngine/Include/Networking/API/IClient.h
  LambdaEngine/Include/Networking/API/ServerBase.h
  LambdaEngine/Include/Networking/API/UDP/NetworkDiscovery.h
  LambdaEngine/Source/GUI/Core/GUIRenderer.cpp
  LambdaEngine/Source/Networking/API/ClientBase.cpp
  LambdaEngine/Source/Networking/API/ClientRemoteBase.cpp
  LambdaEngine/Source/Networking/API/NetworkDebugger.cpp
  LambdaEngine/Source/Networking/API/PacketManagerBase.cpp
  LambdaEngine/Source/Networking/API/ServerBase.cpp
  LambdaEngine/Source/Networking/API/UDP/PacketManagerUDP.cpp
  LambdaEngine/Source/Networking/API/UDP/PacketTransceiverUDP.cpp
Labels: Clean Up, Fix, GUI, Game, Multiplayer, Networking

#478 Player Noise Position fix
  Assets/Shaders/Animation/Skinning.comp
  Assets/Shaders/FirstPerson/Weapon.frag
  Assets/Shaders/FirstPerson/Weapon.vert
  Assets/Shaders/MeshPaintFunc.glsl
  Assets/Shaders/Players/Players.frag
  Assets/Shaders/Players/Players.vert
  Assets/Shaders/RayTracing/PrimaryClosestHit.rchit
  LambdaEngine/Include/Resources/Mesh.h
  LambdaEngine/Source/Resources/Mesh.cpp
  LambdaEngine/Source/Resources/ResourceLoader.cpp
Labels: Fix

#480 Gui changes2
  Assets/NoesisGUI/Textures/Flag.png
  Assets/NoesisGUI/Textures/Flag.psd
  Assets/NoesisGUI/Textures/PaintAmmo/BluePaint.png
  Assets/NoesisGUI/Textures/PaintAmmo/BluePaintDrop.png
  Assets/NoesisGUI/Textures/PaintAmmo/GreenPaint.png
  Assets/NoesisGUI/Textures/PaintAmmo/GreenPaintDrop.png
  Assets/NoesisGUI/Textures/PaintAmmo/PinkPaint.png
  Assets/NoesisGUI/Textures/PaintAmmo/PinkPaintDrop.png
  Assets/NoesisGUI/Textures/PaintAmmo/PurplePaint.png
  Assets/NoesisGUI/Textures/PaintAmmo/PurplePaintDrop.png
  Assets/NoesisGUI/Textures/PaintAmmo/RedPaint.png
  Assets/NoesisGUI/Textures/PaintAmmo/RedPaintDrop.png
  Assets/NoesisGUI/Textures/PaintAmmo/YellowPaint.png
  Assets/NoesisGUI/Textures/PaintAmmo/YellowPaintDrop.png
  Assets/NoesisGUI/Textures/PaintIcon.png
  Assets/NoesisGUI/Textures/Roller.png
  Assets/NoesisGUI/Xaml/HUD.xaml
  Assets/NoesisGUI/Xaml/KillFeedGUI.xaml
  Assets/NoesisGUI/Xaml/PromptGUI.xaml
  CrazyCanvas/Include/ECS/Systems/GUI/HUDSystem.h
  CrazyCanvas/Include/Events/GameplayEvents.h
  CrazyCanvas/Include/GUI/HUDGUI.h
  CrazyCanvas/Include/Teams/TeamHelper.h
  CrazyCanvas/Source/CrazyCanvas.cpp
  CrazyCanvas/Source/ECS/Systems/Camera/SpectateCameraSystem.cpp
  CrazyCanvas/Source/ECS/Systems/GUI/HUDSystem.cpp
  CrazyCanvas/Source/ECS/Systems/Player/WeaponSystemClient.cpp
  CrazyCanvas/Source/GUI/CountdownGUI.cpp
  CrazyCanvas/Source/GUI/HUDGUI.cpp
  CrazyCanvas/Source/GUI/PromptGUI.cpp
  CrazyCanvas/Source/States/PlaySessionState.cpp
  CrazyCanvas/Source/States/SandboxState.cpp
  CrazyCanvas/Source/Teams/TeamHelper.cpp
  CrazyCanvas/engine_config_crazycanvas.json
  CrazyCanvas/engine_config_server.json
Labels: Fix, GUI, Game

#488 Dir light shadow blending
  Assets/Shaders/Helpers.glsl
  Assets/Shaders/Shading/Shading.frag
  LambdaEngine/Source/Game/ECS/Systems/Rendering/RenderSystem.cpp
Labels: Fix, Rendering

#490 Fix tlasvl error
  LambdaEngine/Include/Rendering/Core/API/AccelerationStructure.h
  LambdaEngine/Include/Rendering/Core/Vulkan/AccelerationStructureVK.h
  LambdaEngine/Include/Rendering/RenderGraph.h
  LambdaEngine/Source/Rendering/Core/Vulkan/AccelerationStructureVK.cpp
  LambdaEngine/Source/Rendering/RenderGraph.cpp
Labels: Fix, RenderGraph, Rendering

#493 Fix server path
  CrazyCanvas/Include/GUI/MultiplayerGUI.h
  CrazyCanvas/Source/GUI/MultiplayerGUI.cpp
Labels: Clean Up, Fix

#494 Gui bug fixes
  CrazyCanvas/Include/ECS/Components/World/SpectateComponent.h
  CrazyCanvas/Include/ECS/Systems/Camera/SpectateCameraSystem.h
  CrazyCanvas/Include/ECS/Systems/Player/HealthSystemClient.h
  CrazyCanvas/Include/GUI/HUDGUI.h
  CrazyCanvas/Include/World/LevelObjectCreator.h
  CrazyCanvas/Source/ECS/Systems/Camera/SpectateCameraSystem.cpp
  CrazyCanvas/Source/ECS/Systems/GUI/HUDSystem.cpp
  CrazyCanvas/Source/ECS/Systems/Player/HealthSystemClient.cpp
  CrazyCanvas/Source/GUI/HUDGUI.cpp
  CrazyCanvas/Source/World/LevelObjectCreator.cpp
Labels: Fix, GUI

#495 Fix Resize Error
  LambdaEngine/Include/Application/API/Events/RenderEvents.h
  LambdaEngine/Include/GUI/Core/GUIApplication.h
  LambdaEngine/Include/Rendering/RenderGraph.h
  LambdaEngine/Source/GUI/Core/GUIApplication.cpp
  LambdaEngine/Source/Rendering/Core/Vulkan/SwapChainVK.cpp
  LambdaEngine/Source/Rendering/RenderGraph.cpp
Labels: Fix, Rendering

#497 Fixed Particles, Movement Speed and an Incorrect Print
  CrazyCanvas/Include/World/Player/PlayerSettings.h
  CrazyCanvas/Source/Match/Match.cpp
  CrazyCanvas/Source/World/LevelObjectCreator.cpp
Labels: Fix

#498 Mesh Paint Fixes
  CrazyCanvas/Include/MeshPaint/MeshPaintHandler.h
  CrazyCanvas/Source/MeshPaint/MeshPaintHandler.cpp
Labels: Fix

#500 Escape Menu Fix
  CrazyCanvas/Include/GUI/EscapeMenuGUI.h
  CrazyCanvas/Source/GUI/EscapeMenuGUI.cpp
Labels: Fix

#501 Fix first person pbr
  Assets/Shaders/FirstPerson/Weapon.frag
  Assets/Shaders/FirstPerson/Weapon.vert
  Assets/Shaders/MeshPaintHelper.glsl
Labels: Fix

#502 Chrille bugs
  Assets/NoesisGUI/Xaml/Multiplayer.xaml
  CrazyCanvas/Include/GUI/MultiplayerGUI.h
  CrazyCanvas/Include/States/MultiplayerState.h
  CrazyCanvas/Source/CrazyCanvas.cpp
  CrazyCanvas/Source/GUI/MultiplayerGUI.cpp
  CrazyCanvas/Source/Lobby/PlayerManagerClient.cpp
  CrazyCanvas/Source/States/MultiplayerState.cpp
  CrazyCanvas/Source/States/ServerState.cpp
Labels: Fix, Multiplayer

#504 Specate Bug Fixes & GUI enhancement
  Assets/NoesisGUI/Xaml/HUD.xaml
  CrazyCanvas/Include/ECS/Systems/GUI/HUDSystem.h
  CrazyCanvas/Include/Events/MatchEvents.h
  CrazyCanvas/Include/GUI/GameOverGUI.h
  CrazyCanvas/Include/GUI/HUDGUI.h
  CrazyCanvas/Source/ECS/Systems/GUI/HUDSystem.cpp
  CrazyCanvas/Source/ECS/Systems/Match/ClientFlagSystem.cpp
  CrazyCanvas/Source/ECS/Systems/Player/WeaponSystemClient.cpp
  CrazyCanvas/Source/GUI/GameOverGUI.cpp
  CrazyCanvas/Source/GUI/HUDGUI.cpp
  CrazyCanvas/engine_config_crazycanvas.json
Labels: Fix, GUI

#505 Access Settings From Lobby
  Assets/NoesisGUI/Xaml/EscapeMenuGUI.xaml
  Assets/NoesisGUI/Xaml/Lobby.xaml
  CrazyCanvas/Include/GUI/LobbyGUI.h
  CrazyCanvas/Source/GUI/EscapeMenuGUI.cpp
  CrazyCanvas/Source/GUI/LobbyGUI.cpp
  CrazyCanvas/Source/GUI/MainMenuGUI.cpp
Labels: GUI

#511 Fix mouse sensitivity
  CrazyCanvas/key_bindings.json
  LambdaEngine/Source/Input/API/InputActionSystem.cpp
Labels: Fix

#512 Ping system GUI, Input fix, Attempt to fix prompt.
  Assets/NoesisGUI/Xaml/DamageIndicatorGUI.xaml
  Assets/NoesisGUI/Xaml/HUD.xaml
  Assets/NoesisGUI/Xaml/KillFeedGUI.xaml
  Assets/NoesisGUI/Xaml/MainMenu.xaml
  Assets/NoesisGUI/Xaml/PromptGUI.xaml
  CrazyCanvas/Include/ECS/Systems/GUI/HUDSystem.h
  CrazyCanvas/Include/GUI/HUDGUI.h
  CrazyCanvas/Include/GUI/MainMenuGUI.h
  CrazyCanvas/Include/GUI/PromptGUI.h
  CrazyCanvas/Source/ECS/Systems/GUI/HUDSystem.cpp
  CrazyCanvas/Source/GUI/HUDGUI.cpp
  CrazyCanvas/Source/GUI/MainMenuGUI.cpp
  CrazyCanvas/Source/GUI/PromptGUI.cpp
  CrazyCanvas/engine_config_crazycanvas.json
  CrazyCanvas/engine_config_sandbox.json
  CrazyCanvas/engine_config_server.json
  CrazyCanvas/key_bindings.json
  LambdaEngine/Include/Engine/ConfigCodes.h
Labels: Fix, GUI

#516 Fixed 2 Bugs related to the lobby
  Assets/NoesisGUI/Xaml/Lobby.xaml
  CrazyCanvas/Include/GUI/LobbyGUI.h
  CrazyCanvas/Include/Lobby/PlayerManagerClient.h
  CrazyCanvas/Saved_Servers.json
  CrazyCanvas/Source/GUI/LobbyGUI.cpp
  CrazyCanvas/Source/Lobby/PlayerManagerClient.cpp
  CrazyCanvas/Source/Lobby/PlayerManagerServer.cpp
  CrazyCanvas/Source/States/LobbyState.cpp
  CrazyCanvas/Source/States/ServerState.cpp
  LambdaEngine/Source/Networking/API/PacketManagerBase.cpp
  LambdaEngine/Source/Rendering/RT/ReflectionsDenoisePass.cpp
Labels: Clean Up, Fix, GUI, Multiplayer

#517 Improved music volume setting
  CrazyCanvas/Source/GUI/MainMenuGUI.cpp
  CrazyCanvas/engine_config_crazycanvas.json
  LambdaEngine/Include/Audio/API/IAudioDevice.h
  LambdaEngine/Include/Audio/FMOD/AudioDeviceFMOD.h
  LambdaEngine/Source/Audio/FMOD/AudioDeviceFMOD.cpp
Labels: Audio, Clean Up, Fix

#518 Jump sounds
  Assets/Sounds/Player/jump.wav
  Assets/Sounds/Player/landing.wav
  CrazyCanvas/Include/Multiplayer/Packet/PacketPlayerActionResponse.h
  CrazyCanvas/Include/Resources/ResourceCatalog.h
  CrazyCanvas/Include/World/Player/Client/PlayerLocalSystem.h
  CrazyCanvas/Include/World/Player/Client/PlayerSoundHelper.h
  CrazyCanvas/Source/Resources/ResourceCatalog.cpp
  CrazyCanvas/Source/World/LevelObjectCreator.cpp
  CrazyCanvas/Source/World/Player/Client/PlayerForeignSystem.cpp
  CrazyCanvas/Source/World/Player/Client/PlayerLocalSystem.cpp
  CrazyCanvas/Source/World/Player/Client/PlayerSoundHelper.cpp
  CrazyCanvas/Source/World/Player/Server/PlayerRemoteSystem.cpp
  CrazyCanvas/engine_config_crazycanvas.json
  LambdaEngine/Include/Game/ECS/Components/Physics/Collision.h
  LambdaEngine/Include/Game/ECS/Components/Physics/Transform.h
  LambdaEngine/Include/Game/ECS/Systems/Physics/VelocityComponentSystem.h
  LambdaEngine/Source/Engine/EngineLoop.cpp
  LambdaEngine/Source/Game/ECS/Systems/Physics/VelocityComponentSystem.cpp
Labels: Audio, Game

#520 LobbyGUI & MultiplayerGUI Cleanup
  Assets/NoesisGUI/Xaml/Multiplayer.xaml
  CrazyCanvas/Include/Events/ServerEvents.h
  CrazyCanvas/Include/GUI/MultiplayerGUI.h
  CrazyCanvas/Include/Lobby/EServerState.h
  CrazyCanvas/Include/Lobby/ServerInfo.h
  CrazyCanvas/Include/States/MultiplayerState.h
  CrazyCanvas/Source/GUI/MultiplayerGUI.cpp
  CrazyCanvas/Source/Lobby/PlayerManagerClient.cpp
  CrazyCanvas/Source/Lobby/ServerManager.cpp
  CrazyCanvas/Source/States/MultiplayerState.cpp
  CrazyCanvas/Source/States/ServerState.cpp
  LambdaEngine/Include/Networking/API/BinaryDecoder.h
  LambdaEngine/Include/Networking/API/BinaryEncoder.h
  LambdaEngine/Include/Networking/API/NetworkSegment.h
  LambdaEngine/Source/Networking/API/BinaryDecoder.cpp
  LambdaEngine/Source/Networking/API/BinaryEncoder.cpp
  LambdaEngine/Source/Networking/API/ClientRemoteBase.cpp
  LambdaEngine/Source/Networking/API/NetworkSegment.cpp
  LambdaEngine/Source/Networking/API/UDP/ClientNetworkDiscovery.cpp
  LambdaEngine/Source/Networking/API/UDP/ServerNetworkDiscovery.cpp
Labels: Clean Up, Fix, GUI, Multiplayer

#524 Fixed Audio Crash in Master
  LambdaEngine/Source/Audio/FMOD/AudioDeviceFMOD.cpp
Labels: Fix

#525 Fixed same color bug for the third time. Please merge with caution!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  CrazyCanvas/Source/GUI/LobbyGUI.cpp
Labels: Fix

#526 Fixed visual bug when a player leave a lobby in the MultiplayerGUI
  Assets/NoesisGUI/Xaml/Lobby.xaml
  CrazyCanvas/Include/States/MultiplayerState.h
  CrazyCanvas/Source/States/MultiplayerState.cpp
Labels: Fix, GUI

#527 GUI debugging and Resource Manager Fixes
  CrazyCanvas/Include/World/LevelModule.h
  CrazyCanvas/Source/World/LevelManager.cpp
  CrazyCanvas/Source/World/LevelModule.cpp
  LambdaEngine/Source/GUI/Core/GUIApplication.cpp
  LambdaEngine/Source/GUI/Core/GUIRenderTarget.cpp
  LambdaEngine/Source/GUI/Core/GUIRenderer.cpp
  LambdaEngine/Source/Resources/ResourceManager.cpp
Labels: Fix

#528 Optimize Glossy Disabled
  Assets/Shaders/RayTracing/GaussianDenoiser.comp
  CrazyCanvas/engine_config_crazycanvas.json
  LambdaEngine/Source/Rendering/RT/ReflectionsDenoisePass.cpp
Labels: Rendering

#531 Fix benchmark, GUI and validation warning
  CrazyCanvas/Source/GUI/EscapeMenuGUI.cpp
  CrazyCanvas/Source/GUI/GameOverGUI.cpp
  CrazyCanvas/Source/GUI/LobbyGUI.cpp
  CrazyCanvas/Source/GUI/MainMenuGUI.cpp
  CrazyCanvas/Source/GUI/MultiplayerGUI.cpp
  CrazyCanvas/Source/States/LobbyState.cpp
  CrazyCanvas/Source/States/MultiplayerState.cpp
  CrazyCanvas/Source/States/PlaySessionState.cpp
  LambdaEngine/Source/GUI/Core/GUIRenderer.cpp
  LambdaEngine/Source/Rendering/LightRenderer.cpp
Labels: Fix, GUI

#532 Improvements to Ray Tracing
  CrazyCanvas/Source/World/LevelObjectCreator.cpp
  LambdaEngine/Include/Rendering/Core/API/GraphicsTypes.h
  LambdaEngine/Source/Game/ECS/Systems/Rendering/RenderSystem.cpp
  LambdaEngine/Source/Rendering/Core/Vulkan/AccelerationStructureVK.cpp
  LambdaEngine/Source/Rendering/Core/Vulkan/CommandListVK.cpp
  LambdaEngine/Source/Rendering/ParticleManager.cpp
  LambdaEngine/Source/Rendering/RT/ASBuilder.cpp
Labels: Fix, Rendering

#535 Fixed Some stuff
  CrazyCanvas/Include/GUI/GUIHelpers.h
  CrazyCanvas/Source/ECS/Systems/Match/ClientFlagSystem.cpp
  CrazyCanvas/Source/ECS/Systems/Match/ServerFlagSystem.cpp
  CrazyCanvas/Source/ECS/Systems/Player/WeaponSystem.cpp
  CrazyCanvas/Source/Match/MatchServer.cpp
  CrazyCanvas/engine_config_crazycanvas.json
  LambdaEngine/Source/Rendering/RT/ReflectionsDenoisePass.cpp
Labels: Fix

#554 Fix average RAM being enormous
  LambdaEngine/Source/Utilities/RuntimeStats.cpp
Labels: Fix
