Repository IbexOmega/CrazyCanvas, pull requests merged in 2020-10, with the labels that each got.

#158 Fix material combine
  Assets/Shaders/Material/CombineMaterial.comp
  LambdaEngine/Include/Rendering/Core/API/CommandList.h
  LambdaEngine/Include/Rendering/Core/Vulkan/CommandListVK.h
  LambdaEngine/Include/Rendering/Core/Vulkan/GraphicsDeviceVK.h
  LambdaEngine/Include/Rendering/RenderGraph.h
  LambdaEngine/Include/Resources/Material.h
  LambdaEngine/Include/Resources/ResourceLoader.h
  LambdaEngine/Include/Resources/ResourceManager.h
  LambdaEngine/Source/Game/ECS/Systems/RenderSystem.cpp
  LambdaEngine/Source/Rendering/Core/Vulkan/CommandListVK.cpp
  LambdaEngine/Source/Rendering/Core/Vulkan/DescriptorSetVK.cpp
  LambdaEngine/Source/Rendering/Core/Vulkan/GraphicsDeviceVK.cpp
  LambdaEngine/Source/Rendering/RenderGraph.cpp
  LambdaEngine/Source/Resources/ResourceLoader.cpp
  LambdaEngine/Source/Resources/ResourceManager.cpp
Labels: Fix, Rendering

#157 Fix entities not being excluded properly
  LambdaEngine/Include/ECS/EntityPublisher.h
  LambdaEngine/Include/ECS/EntityRegistry.h
  LambdaEngine/Source/ECS/EntityPublisher.cpp
  LambdaEngine/Source/ECS/EntityRegistry.cpp
  LambdaEngine/Source/ECS/EntitySubscriber.cpp
  LambdaEngine/Source/Game/ECS/Systems/RenderSystem.cpp
  Sandbox/Source/States/SandboxState.cpp
Labels: ECS, Fix

#166 Fix Fix
  LambdaEngine/Source/Game/ECS/Systems/RenderSystem.cpp
Labels: Fix, Rendering

#161 Added Networking InterpolationSystem
  Client/Source/Client.cpp
  Client/engine_config.json
  LambdaEngine/Include/ECS/JobScheduler.h
  LambdaEngine/Include/Game/ECS/Components/Networking/InterpolationComponent.h
  LambdaEngine/Include/Game/ECS/Systems/Networking/ClientBaseSystem.h
  LambdaEngine/Include/Game/ECS/Systems/Networking/ClientRemoteSystem.h
  LambdaEngine/Include/Game/ECS/Systems/Networking/ClientSystem.h
  LambdaEngine/Include/Game/ECS/Systems/Networking/InterpolationSystem.h
  LambdaEngine/Include/Networking/API/ClientRemoteBase.h
  LambdaEngine/Source/ECS/JobScheduler.cpp
  LambdaEngine/Source/Game/ECS/Systems/Networking/ClientBaseSystem.cpp
  LambdaEngine/Source/Game/ECS/Systems/Networking/ClientRemoteSystem.cpp
  LambdaEngine/Source/Game/ECS/Systems/Networking/ClientSystem.cpp
  LambdaEngine/Source/Game/ECS/Systems/Networking/InterpolationSystem.cpp
  LambdaEngine/Source/Game/ECS/Systems/Player/PlayerMovementSystem.cpp
  LambdaEngine/Source/Networking/API/ClientRemoteBase.cpp
  LambdaEngine/Source/Networking/API/ServerBase.cpp
  Server/engine_config.json
Labels: Multiplayer, Networking

#168 Fixed ECS-Core Reseting unhandled dirty flags
  LambdaEngine/Source/ECS/ECSCore.cpp
Labels: ECS, Fix

#162 Noesis template GUI
  Assets/NoesisGUI/Xaml/MainMenu.xaml
  CrazyCanvas/Include/GUI/MainMenuGUI.h
  CrazyCanvas/Include/States/MainMenuState.h
  CrazyCanvas/Source/CrazyCanvas.cpp
  CrazyCanvas/Source/GUI/MainMenuGUI.cpp
  CrazyCanvas/Source/States/MainMenuState.cpp
  CrazyCanvas/engine_config.json
  LambdaEngine/Include/GUI/Core/GUIApplication.h
  LambdaEngine/Include/GUI/Core/GUIRenderer.h
  LambdaEngine/Include/Game/ECS/Systems/Rendering/RenderSystem.h
  LambdaEngine/Include/Rendering/ICustomRenderer.h
  LambdaEngine/Include/Rendering/ImGuiRenderer.h
  LambdaEngine/Include/Rendering/LineRenderer.h
  LambdaEngine/Include/Rendering/RenderGraph.h
  LambdaEngine/Source/GUI/Core/GUIRenderer.cpp
  LambdaEngine/Source/Game/ECS/Systems/Rendering/RenderSystem.cpp
  LambdaEngine/Source/Rendering/ImGuiRenderer.cpp
  LambdaEngine/Source/Rendering/LineRenderer.cpp
  LambdaEngine/Source/Rendering/RenderGraph.cpp
  Sandbox/Source/States/SandboxState.cpp
Labels: Fix, GUI

#174 Use build action for Välfärden
  .github/workflows/main.yaml
  .github/workflows/master.yaml
Labels: Fix

#175 Stop sending unused argument (welfare)
  .github/workflows/main.yaml
Labels: Fix

#172 Fix wall collision
  LambdaEngine/Include/Game/ECS/Components/Rendering/CameraComponent.h
  LambdaEngine/Source/Game/ECS/Systems/Physics/TransformApplierSystem.cpp
  LambdaEngine/Source/Physics/PhysicsSystem.cpp
  Sandbox/Source/States/SandboxState.cpp
Labels: Fix, Physics

#180 Correct handling of velocity
  CrazyCanvas/Source/States/PlaySessionState.cpp
  LambdaEngine/Source/Game/ECS/Systems/CameraSystem.cpp
  LambdaEngine/Source/Game/ECS/Systems/Physics/TransformApplierSystem.cpp
  LambdaEngine/Source/Physics/PhysicsSystem.cpp
  Sandbox/Source/States/SandboxState.cpp
Labels: Fix, Physics

#191 Profiler VK_NOT_READY warning
  LambdaEngine/Include/Debug/GPUProfiler.h
  LambdaEngine/Include/Rendering/Core/API/QueryHeap.h
  LambdaEngine/Include/Rendering/Core/Vulkan/QueryHeapVK.h
  LambdaEngine/Source/Debug/GPUProfiler.cpp
  LambdaEngine/Source/Rendering/Core/Vulkan/QueryHeapVK.cpp
Labels: Clean Up, Fix

#193 Use default config path upon missing config file for state
  LambdaEngine/Source/Engine/EngineConfig.cpp
Labels: Fix

#197 Prettify system registrations
  CrazyCanvas/Source/States/BenchmarkState.cpp
  CrazyCanvas/Source/States/PlaySessionState.cpp
  CrazyCanvas/Source/States/SandboxState.cpp
  LambdaEngine/Include/ECS/EntitySubscriber.h
  LambdaEngine/Include/ECS/System.h
  LambdaEngine/Include/Game/ECS/Systems/Physics/PhysicsSystem.h
  LambdaEngine/Source/ECS/EntitySubscriber.cpp
  LambdaEngine/Source/ECS/RegularWorker.cpp
  LambdaEngine/Source/ECS/System.cpp
  LambdaEngine/Source/Engine/EngineLoop.cpp
  LambdaEngine/Source/Game/ECS/Components/Rendering/CameraComponent.cpp
  LambdaEngine/Source/Game/ECS/Systems/Audio/AudioSystem.cpp
  LambdaEngine/Source/Game/ECS/Systems/CameraSystem.cpp
  LambdaEngine/Source/Game/ECS/Systems/Networking/ClientRemoteSystem.cpp
  LambdaEngine/Source/Game/ECS/Systems/Networking/ClientSystem.cpp
  LambdaEngine/Source/Game/ECS/Systems/Networking/InterpolationSystem.cpp
  LambdaEngine/Source/Game/ECS/Systems/Networking/ServerSystem.cpp
  LambdaEngine/Source/Game/ECS/Systems/Physics/PhysicsSystem.cpp
  LambdaEngine/Source/Game/ECS/Systems/Physics/TransformApplierSystem.cpp
  LambdaEngine/Source/Game/ECS/Systems/Player/PlayerMovementSystem.cpp
  LambdaEngine/Source/Game/ECS/Systems/Rendering/AnimationSystem.cpp
  LambdaEngine/Source/Game/ECS/Systems/Rendering/RenderSystem.cpp
  LambdaEngine/Source/Game/ECS/Systems/TrackSystem.cpp
Labels: Clean Up, ECS

#181 Level manager (1 / 3)
  Assets/World/Levels/Prototype.dae
  Assets/World/levels.json
  CrazyCanvas/Include/World/LevelManager.h
  CrazyCanvas/Source/CrazyCanvas.cpp
  CrazyCanvas/Source/World/LevelManager.cpp
  LambdaEngine/Include/Resources/ResourceLoader.h
  LambdaEngine/Include/Utilities/SHA256.h
  LambdaEngine/Source/Resources/ResourceLoader.cpp
  LambdaEngine/Source/Utilities/SHA256.cpp
Labels: Game

#199 Light custom renderer
  Assets/RenderGraphs/DEFERRED_PBR.lrg
  Assets/RenderGraphs/DEFERRED_PBR_MESH.lrg
  Assets/RenderGraphs/RT_DEFERRED_PBR.lrg
  Assets/RenderGraphs/RT_DEFERRED_PBR_MESH.lrg
  Assets/Shaders/DeferredGeometry/Geom.frag
  Assets/Shaders/Defines.glsl
  Assets/Shaders/RayTracing/RayTracingInclude.glsl
  Assets/Shaders/Shading/Shading.frag
  Assets/Shaders/ShadowMap/PointLShadowMap.vert
  CrazyCanvas/Source/States/SandboxState.cpp
  CrazyCanvas/engine_config_sandbox.json
  LambdaEngine/Include/GUI/Core/GUIRenderer.h
  LambdaEngine/Include/Game/ECS/Systems/Rendering/RenderSystem.h
  LambdaEngine/Include/Rendering/Core/Vulkan/DescriptorSetVK.h
  LambdaEngine/Include/Rendering/ICustomRenderer.h
  LambdaEngine/Include/Rendering/ImGuiRenderer.h
  LambdaEngine/Include/Rendering/LightRenderer.h
  LambdaEngine/Include/Rendering/LineRenderer.h
  LambdaEngine/Include/Rendering/RenderGraph.h
  LambdaEngine/Include/Rendering/RenderGraphTypes.h
  LambdaEngine/Source/Engine/EngineLoop.cpp
  LambdaEngine/Source/GUI/Core/GUIRenderer.cpp
  LambdaEngine/Source/Game/ECS/Systems/Rendering/RenderSystem.cpp
  LambdaEngine/Source/Rendering/Core/Vulkan/DescriptorSetVK.cpp
  LambdaEngine/Source/Rendering/Core/Vulkan/PipelineLayoutVK.cpp
  LambdaEngine/Source/Rendering/LightRenderer.cpp
  LambdaEngine/Source/Rendering/RenderGraph.cpp
Labels: Fix, RenderGraph, Rendering

#200 Benchmark button in Main Menu
  Assets/NoesisGUI/Xaml/MainMenu.xaml
  CrazyCanvas/Include/GUI/MainMenuGUI.h
  CrazyCanvas/Source/GUI/MainMenuGUI.cpp
Labels: Game

#190 Level manager (3 / 3)
  Assets/World/LevelModules/module_0.dae
  Assets/World/levels.json
  CrazyCanvas/Include/CrazyCanvas.h
  CrazyCanvas/Include/States/BenchmarkState.h
  CrazyCanvas/Include/States/PlaySessionState.h
  CrazyCanvas/Include/States/SandboxState.h
  CrazyCanvas/Include/World/Level.h
  CrazyCanvas/Include/World/LevelManager.h
  CrazyCanvas/Include/World/LevelModule.h
  CrazyCanvas/Include/World/LevelObjectCreator.h
  CrazyCanvas/Include/World/World.h
  CrazyCanvas/Source/CrazyCanvas.cpp
  CrazyCanvas/Source/States/BenchmarkState.cpp
  CrazyCanvas/Source/States/NetworkingState.cpp
  CrazyCanvas/Source/States/PlaySessionState.cpp
  CrazyCanvas/Source/States/SandboxState.cpp
  CrazyCanvas/Source/World/Level.cpp
  CrazyCanvas/Source/World/LevelManager.cpp
  CrazyCanvas/Source/World/LevelModule.cpp
  CrazyCanvas/Source/World/LevelObjectCreator.cpp
  CrazyCanvas/engine_config_production.json
  LambdaEngine/Include/Game/ECS/Components/Rendering/DirectionalLightComponent.h
  LambdaEngine/Include/Resources/ResourceLoader.h
  LambdaEngine/Include/Resources/ResourceManager.h
  LambdaEngine/Include/Utilities/SHA256.h
  LambdaEngine/Source/Game/ECS/Systems/Rendering/RenderSystem.cpp
  LambdaEngine/Source/Resources/ResourceLoader.cpp
  LambdaEngine/Source/Resources/ResourceManager.cpp
  LambdaEngine/Source/Utilities/SHA256.cpp
Labels: Game

#195 Potential unregistered input fix
  LambdaEngine/Include/Input/API/Input.h
  LambdaEngine/Source/Application/Win32/Win32Application.cpp
  LambdaEngine/Source/Game/ECS/Systems/CameraSystem.cpp
  LambdaEngine/Source/Input/API/Input.cpp
Labels: Fix

#206 Roughness and Metallicness Factor Loading
  Assets/World/LevelModules/module_0.dae
  Assets/World/LevelModules/module_0.glb
  Assets/World/LevelModules/module_1.glb
  Assets/World/levels.json
  CrazyCanvas/Source/States/PlaySessionState.cpp
  CrazyCanvas/Source/States/SandboxState.cpp
  CrazyCanvas/engine_config_client.json
  CrazyCanvas/engine_config_crazycanvas.json
  LambdaEngine/Source/Rendering/RenderAPI.cpp
  LambdaEngine/Source/Resources/ResourceLoader.cpp
Labels: Rendering

#204 Refactor component groups
  LambdaEngine/Include/ECS/Component.h
  LambdaEngine/Include/Game/ECS/Components/Physics/Transform.h
  LambdaEngine/Source/ECS/EntityPublisher.cpp
  LambdaEngine/Source/ECS/EntitySubscriber.cpp
  LambdaEngine/Source/ECS/JobScheduler.cpp
  LambdaEngine/Source/ECS/RegularWorker.cpp
  LambdaEngine/Source/Game/ECS/Systems/Audio/AudioSystem.cpp
Labels: Clean Up, ECS

#196 Render graph descriptor set optimization
  LambdaEngine/Include/Rendering/RenderGraph.h
  LambdaEngine/Source/Rendering/RenderGraph.cpp
Labels: Fix, RenderGraph

#214 Fixed problem with direction when painting
  Assets/Shaders/MeshPainting/Unwrap.frag
  Assets/Shaders/MeshPainting/Unwrap.vert
Labels: Fix, Game

#220 Fixed Swapchain Out of Date
  LambdaEngine/Include/Rendering/Core/Vulkan/SwapChainVK.h
  LambdaEngine/Source/Rendering/Core/Vulkan/CommandQueueVK.cpp
  LambdaEngine/Source/Rendering/Core/Vulkan/SwapChainVK.cpp
Labels: Fix, Rendering

#222 Multithreded AnimationSystem
  CrazyCanvas/Source/States/PlaySessionState.cpp
  LambdaEngine/Include/Game/ECS/Systems/Rendering/AnimationSystem.h
  LambdaEngine/Include/Resources/AnimationGraph.h
  LambdaEngine/Include/Threading/API/ThreadPool.h
  LambdaEngine/Source/Game/ECS/Systems/Rendering/AnimationSystem.cpp
  LambdaEngine/Source/Networking/API/NetworkDebugger.cpp
  LambdaEngine/Source/Rendering/RenderAPI.cpp
  LambdaEngine/Source/Resources/AnimationGraph.cpp
Labels: Fix, Rendering

#215 Mesh painting remove paint
  Assets/Shaders/MeshPainting/Unwrap.frag
  Assets/Shaders/MeshPainting/Unwrap.vert
  LambdaEngine/Include/Rendering/PaintMaskRenderer.h
  LambdaEngine/Source/Rendering/PaintMaskRenderer.cpp
Labels: Rendering

#231 Event fixes
  LambdaEngine/Include/Rendering/RenderGraph.h
  LambdaEngine/Source/Game/ECS/Systems/Rendering/RenderSystem.cpp
  LambdaEngine/Source/Rendering/RenderGraph.cpp
Labels: Fix

#233 Render graph memory leak fix
  Assets/RenderGraphs/RT_DEFERRED_PBR.lrg
  LambdaEngine/Source/Game/ECS/Systems/Rendering/RenderSystem.cpp
  LambdaEngine/Source/Rendering/RenderGraph.cpp
  LambdaEngine/Source/Resources/ResourceManager.cpp
Labels: Fix, RenderGraph, Rendering

#223 Add collision callbacks
  CrazyCanvas/Include/ECS/Systems/Player/WeaponSystem.h
  CrazyCanvas/Source/ECS/Systems/Player/WeaponSystem.cpp
  CrazyCanvas/Source/World/LevelObjectCreator.cpp
  LambdaEngine/Include/ECS/ECSCore.h
  LambdaEngine/Include/Game/ECS/Components/Physics/Collision.h
  LambdaEngine/Include/Game/ECS/Systems/Physics/PhysicsSystem.h
  LambdaEngine/Include/Physics/PhysX/ErrorCallback.h
  LambdaEngine/Include/Physics/PhysX/FilterShader.h
  LambdaEngine/Source/ECS/ECSCore.cpp
  LambdaEngine/Source/ECS/EntityRegistry.cpp
  LambdaEngine/Source/Game/ECS/Components/Rendering/CameraComponent.cpp
  LambdaEngine/Source/Game/ECS/Systems/Physics/PhysicsSystem.cpp
  LambdaEngine/Source/Game/ECS/Systems/Rendering/RenderSystem.cpp
  LambdaEngine/Source/Rendering/RenderGraph.cpp
Labels: Physics

#237 Fixed wrong shader set
  Assets/RenderGraphs/RT_DEFERRED_PBR.lrg
Labels: Fix

#236 Added Player Teams and Basic Player Colors
  CrazyCanvas/Include/ECS/Components/Team/TeamComponent.h
  CrazyCanvas/Include/Teams/TeamHelper.h
  CrazyCanvas/Include/World/LevelObjectCreator.h
  CrazyCanvas/Source/CrazyCanvas.cpp
  CrazyCanvas/Source/States/PlaySessionState.cpp
  CrazyCanvas/Source/States/SandboxState.cpp
  CrazyCanvas/Source/States/ServerState.cpp
  CrazyCanvas/Source/Teams/TeamHelper.cpp
  CrazyCanvas/Source/World/LevelObjectCreator.cpp
  LambdaEngine/Source/Game/Multiplayer/Client/ClientSystem.cpp
Labels: Game

#239 Fixed Velocity Prediction error when Reconciliation occurs
  CrazyCanvas/Source/GUI/LobbyGUI.cpp
  CrazyCanvas/Source/States/ServerState.cpp
  LambdaEngine/Include/Game/ECS/Systems/Physics/PhysicsSystem.h
  LambdaEngine/Include/Game/Multiplayer/CharacterControllerHelper.h
  LambdaEngine/Include/Game/Multiplayer/Client/ClientSystem.h
  LambdaEngine/Include/Game/Multiplayer/Server/ServerSystem.h
  LambdaEngine/Include/Physics/PhysX/ErrorCallback.h
  LambdaEngine/Include/Physics/PhysX/FilterShader.h
  LambdaEngine/Include/Physics/PhysX/PhysX.h
  LambdaEngine/Source/Game/ECS/Systems/Physics/PhysicsSystem.cpp
  LambdaEngine/Source/Game/Multiplayer/CharacterControllerHelper.cpp
  LambdaEngine/Source/Game/Multiplayer/Client/ClientSystem.cpp
  LambdaEngine/Source/Game/Multiplayer/Client/NetworkPositionSystem.cpp
  LambdaEngine/Source/Game/Multiplayer/Server/ClientRemoteSystem.cpp
  LambdaEngine/Source/Game/Multiplayer/Server/ServerSystem.cpp
  LambdaEngine/Source/Game/World/Player/PlayerSystem.cpp
Labels: Fix, Multiplayer

#245 Disable friendly fire
  CrazyCanvas/Include/ECS/Components/Player/Player.h
  CrazyCanvas/Include/ECS/Components/Player/Weapon.h
  CrazyCanvas/Include/ECS/Systems/Player/WeaponSystem.h
  CrazyCanvas/Include/Physics/PhysicsEvents.h
  CrazyCanvas/Include/States/PlaySessionState.h
  CrazyCanvas/Source/ECS/Systems/Player/WeaponSystem.cpp
  CrazyCanvas/Source/EventHandlers/AudioEffectHandler.cpp
  CrazyCanvas/Source/EventHandlers/MeshPaintHandler.cpp
  LambdaEngine/Include/Game/ECS/Systems/Physics/PhysicsSystem.h
  LambdaEngine/Source/Game/ECS/Systems/Physics/PhysicsSystem.cpp
  LambdaEngine/Source/Game/Multiplayer/CharacterControllerHelper.cpp
Labels: Game, Physics

#246 Projectile trigger shape
  CrazyCanvas/Include/ECS/Components/Player/Player.h
  CrazyCanvas/Source/ECS/Systems/Player/WeaponSystem.cpp
  CrazyCanvas/Source/EventHandlers/AudioEffectHandler.cpp
  CrazyCanvas/Source/States/BenchmarkState.cpp
  CrazyCanvas/Source/States/PlaySessionState.cpp
  CrazyCanvas/Source/States/SandboxState.cpp
  CrazyCanvas/Source/World/LevelObjectCreator.cpp
  LambdaEngine/Include/Game/ECS/Systems/Physics/PhysicsSystem.h
  LambdaEngine/Include/Physics/PhysX/FilterShader.h
  LambdaEngine/Source/Game/ECS/Systems/Physics/PhysicsSystem.cpp
Labels: Game, Physics

#248 Device Lost Fix
  Assets/Shaders/RayTracing/PrimaryClosestHit.rchit
  CrazyCanvas/engine_config_crazycanvas.json
  LambdaEngine/Include/Game/ECS/Systems/Rendering/RenderSystem.h
  LambdaEngine/Source/Game/ECS/Systems/Rendering/RenderSystem.cpp
Labels: Fix, Rendering

#251 Various WeaponSystem fixes
  CrazyCanvas/Include/ECS/Systems/Player/WeaponSystem.h
  CrazyCanvas/Source/ECS/Systems/Player/WeaponSystem.cpp
  LambdaEngine/Source/Game/ECS/Systems/Physics/PhysicsSystem.cpp
Labels: Fix, Game

#257 MeshPaint MipZero has a potential Memory Leak, this fixes it
  LambdaEngine/Include/Game/ECS/Components/Rendering/MeshPaintComponent.h
  LambdaEngine/Include/Rendering/PaintMaskRenderer.h
  LambdaEngine/Source/Game/ECS/ComponentOwners/Rendering/MeshPaintComponentOwner.cpp
  LambdaEngine/Source/Game/ECS/Components/Rendering/MeshPaintComponent.cpp
  LambdaEngine/Source/Rendering/PaintMaskRenderer.cpp
Labels: Fix, Rendering

#247 Fixed toggles on main menu
  Assets/NoesisGUI/Xaml/MainMenu.xaml
  CrazyCanvas/Include/GUI/MainMenuGUI.h
  CrazyCanvas/Source/GUI/MainMenuGUI.cpp
Labels: Fix

#260 Mesh Painting not working on GTX fix
  LambdaEngine/Include/Game/ECS/Systems/Rendering/RenderSystem.h
  LambdaEngine/Source/Game/ECS/Systems/Rendering/RenderSystem.cpp
  LambdaEngine/Source/Rendering/Core/Vulkan/CommandListVK.cpp
  LambdaEngine/Source/Rendering/RenderGraph.cpp
  LambdaEngine/Source/Resources/ResourceManager.cpp
Labels: Fix, RenderGraph, Rendering

#259 Gui in game
  Assets/NoesisGUI/Textures/Health.png
  Assets/NoesisGUI/Xaml/HUD.xaml
  CrazyCanvas/Health.png
  CrazyCanvas/Include/GUI/HUDGUI.h
  CrazyCanvas/Include/GUI/LobbyGUI.h
  CrazyCanvas/Include/States/HUDState.h
  CrazyCanvas/Include/States/PlaySessionState.h
  CrazyCanvas/Source/GUI/HUDGUI.cpp
  CrazyCanvas/Source/GUI/LobbyGUI.cpp
  CrazyCanvas/Source/States/HUDState.cpp
  CrazyCanvas/Source/States/PlaySessionState.cpp
Labels: GUI

#258 Ammunition system
  Assets/Sounds/out_of_ammo.wav
  CrazyCanvas/Include/ECS/Components/Player/ProjectileComponent.h
  CrazyCanvas/Include/ECS/Components/Player/WeaponComponent.h
  CrazyCanvas/Include/ECS/Systems/Player/WeaponSystem.h
  CrazyCanvas/Include/Physics/PhysicsEvents.h
  CrazyCanvas/Source/ECS/Systems/Player/WeaponSystem.cpp
  CrazyCanvas/Source/EventHandlers/AudioEffectHandler.cpp
  CrazyCanvas/Source/EventHandlers/MeshPaintHandler.cpp
  CrazyCanvas/Source/States/PlaySessionState.cpp
  CrazyCanvas/Source/States/SandboxState.cpp
  CrazyCanvas/Source/World/LevelObjectCreator.cpp
  LambdaEngine/Include/Time/API/Clock.h
  LambdaEngine/Source/Time/API/Clock.cpp
Labels: Game

#262 Add callbacks to character controllers
  LambdaEngine/Source/Game/ECS/Systems/Physics/PhysicsSystem.cpp
Labels: Physics

#264 Player Network Component Fix
  CrazyCanvas/Source/World/LevelObjectCreator.cpp
Labels: Fix, Networking

#265 Velocity component optional for dynamic colliders
  LambdaEngine/Include/ECS/ComponentArray.h
  LambdaEngine/Source/Game/ECS/Systems/Physics/PhysicsSystem.cpp
Labels: ECS, Physics

#277 Call ClientSystem::Init when benchmarking
  CrazyCanvas/Source/CrazyCanvas.cpp
Labels: Fix

#261 System tick frequencies
  CrazyCanvas/Source/ECS/Systems/Player/WeaponSystem.cpp
  LambdaEngine/Include/ECS/ECSCore.h
  LambdaEngine/Include/ECS/Job.h
  LambdaEngine/Include/ECS/JobScheduler.h
  LambdaEngine/Include/ECS/RegularWorker.h
  LambdaEngine/Include/ECS/System.h
  LambdaEngine/Source/ECS/ECSCore.cpp
  LambdaEngine/Source/ECS/JobScheduler.cpp
  LambdaEngine/Source/ECS/RegularWorker.cpp
  LambdaEngine/Source/ECS/System.cpp
  LambdaEngine/Source/Game/ECS/Systems/CameraSystem.cpp
  LambdaEngine/Source/Game/ECS/Systems/Physics/TransformApplierSystem.cpp
  LambdaEngine/Source/Game/ECS/Systems/Rendering/RenderSystem.cpp
Labels: ECS

#283 Fixed Networking was not Generating SegmentUID in Production and Release
  LambdaEngine/Include/Networking/API/NetworkStatistics.h
  LambdaEngine/Source/Networking/API/PacketManagerBase.cpp
Labels: Fix, Networking

#285 Perform component/entity registrations/deletions between phases
  LambdaEngine/Include/ECS/ECSCore.h
  LambdaEngine/Include/ECS/JobScheduler.h
  LambdaEngine/Source/ECS/JobScheduler.cpp
Labels: ECS

#286 Blend files
  .gitattributes
  Assets/World/LevelModules/module_0.blend
Labels: Fix

#280 Texture paint color
  Assets/RenderGraphs/DEFERRED_PBR.lrg
  Assets/RenderGraphs/DEFERRED_PBR_MESH.lrg
  Assets/RenderGraphs/RT_DEFERRED_PBR.lrg
  Assets/RenderGraphs/RT_DEFERRED_PBR_MESH.lrg
  Assets/Shaders/Geometry/GeomMeshPaint.frag
  Assets/Shaders/RayTracing/PrimaryClosestHit.rchit
  Assets/Shaders/RayTracing/RayTracingInclude.glsl
  LambdaEngine/Include/Game/ECS/Systems/Rendering/RenderSystem.h
  LambdaEngine/Include/Rendering/RenderGraphTypes.h
  LambdaEngine/Source/GUI/Core/GUIApplication.cpp
  LambdaEngine/Source/Game/ECS/Systems/Rendering/RenderSystem.cpp
Labels: Rendering

#290 Singleplayer fixes
  CrazyCanvas/Include/Multiplayer/SingleplayerInitializer.h
  CrazyCanvas/Include/States/PlaySessionState.h
  CrazyCanvas/Source/CrazyCanvas.cpp
  CrazyCanvas/Source/GUI/LobbyGUI.cpp
  CrazyCanvas/Source/GUI/MainMenuGUI.cpp
  CrazyCanvas/Source/Multiplayer/SingleplayerInitializer.cpp
  CrazyCanvas/Source/States/BenchmarkState.cpp
  CrazyCanvas/Source/States/PlaySessionState.cpp
  CrazyCanvas/Source/States/SandboxState.cpp
  LambdaEngine/Include/Game/Multiplayer/Client/ClientSystem.h
  LambdaEngine/Include/Game/Multiplayer/MultiplayerUtils.h
  LambdaEngine/Source/Game/Multiplayer/Client/ClientSystem.cpp
  LambdaEngine/Source/Game/Multiplayer/MultiplayerUtils.cpp
Labels: Fix

#288 Added simpler Send functions
  CrazyCanvas/Include/ECS/Components/Team/TeamComponent.h
  CrazyCanvas/Include/Match/MatchServer.h
  CrazyCanvas/Include/Multiplayer/Packet/CreateLevelObject.h
  CrazyCanvas/Include/World/LevelObjectCreator.h
  CrazyCanvas/Source/ECS/Systems/Player/WeaponSystem.cpp
  CrazyCanvas/Source/Match/MatchClient.cpp
  CrazyCanvas/Source/Match/MatchServer.cpp
  CrazyCanvas/Source/World/LevelObjectCreator.cpp
  LambdaEngine/Include/Game/Multiplayer/Server/ServerSystem.h
  LambdaEngine/Include/Networking/API/ClientRemoteBase.h
  LambdaEngine/Include/Networking/API/IClient.h
  LambdaEngine/Include/Networking/API/ServerBase.h
Labels: Multiplayer, Networking

#295 Added Templated PacketReceivedEvent
  CrazyCanvas/Include/ECS/Components/Multiplayer/PacketComponent.h
  CrazyCanvas/Include/ECS/Systems/Multiplayer/PacketTranscoderSystem.h
  CrazyCanvas/Include/Match/MatchBase.h
  CrazyCanvas/Include/Match/MatchClient.h
  CrazyCanvas/Include/Match/MatchServer.h
  CrazyCanvas/Include/Multiplayer/MultiplayerBase.h
  CrazyCanvas/Include/Multiplayer/MultiplayerClient.h
  CrazyCanvas/Include/Multiplayer/Packet/MultiplayerEvents.h
  CrazyCanvas/Include/Multiplayer/Packet/PacketType.h
  CrazyCanvas/Include/States/BenchmarkState.h
  CrazyCanvas/Include/World/Player/Client/PlayerLocalSystem.h
  CrazyCanvas/Source/ECS/Systems/Multiplayer/PacketTranscoderSystem.cpp
  CrazyCanvas/Source/Match/MatchBase.cpp
  CrazyCanvas/Source/Match/MatchClient.cpp
  CrazyCanvas/Source/Match/MatchServer.cpp
  CrazyCanvas/Source/Multiplayer/MultiplayerBase.cpp
  CrazyCanvas/Source/Multiplayer/MultiplayerClient.cpp
  CrazyCanvas/Source/Multiplayer/MultiplayerServer.cpp
  CrazyCanvas/Source/Multiplayer/PacketType.cpp
  CrazyCanvas/Source/States/BenchmarkState.cpp
  CrazyCanvas/Source/World/Player/Client/PlayerLocalSystem.cpp
  LambdaEngine/Include/Application/API/Events/NetworkEvents.h
  LambdaEngine/Source/Game/Multiplayer/Client/ClientSystem.cpp
  LambdaEngine/Source/Game/Multiplayer/Server/ClientRemoteSystem.cpp
Labels: Multiplayer, Networking

#292 Seperate input from GUI and game
  CrazyCanvas/Source/ECS/Systems/Player/WeaponSystem.cpp
  CrazyCanvas/Source/World/Player/PlayerActionSystem.cpp
  LambdaEngine/Include/Input/API/Input.h
  LambdaEngine/Include/Rendering/RenderGraphEditor.h
  LambdaEngine/Source/Debug/CPUProfiler.cpp
  LambdaEngine/Source/Game/ECS/Systems/CameraSystem.cpp
  LambdaEngine/Source/Game/GameConsole.cpp
  LambdaEngine/Source/Input/API/Input.cpp
  LambdaEngine/Source/Input/API/InputActionSystem.cpp
  LambdaEngine/Source/Rendering/RenderGraphEditor.cpp
Labels: Fix, GUI, Game

#298 Networking Converted
  CrazyCanvas/Include/ECS/Components/Match/FlagComponent.h
  CrazyCanvas/Include/Events/MatchEvents.h
  CrazyCanvas/Include/Match/MatchBase.h
  CrazyCanvas/Include/Match/MatchClient.h
  CrazyCanvas/Include/Match/MatchServer.h
  CrazyCanvas/Include/Multiplayer/ClientHelper.h
  CrazyCanvas/Include/Multiplayer/Packet/CreateLevelObject.h
  CrazyCanvas/Include/Multiplayer/Packet/MultiplayerEvents.h
  CrazyCanvas/Include/Multiplayer/Packet/Packet.h
  CrazyCanvas/Include/Multiplayer/Packet/PacketTeamScored.h
  CrazyCanvas/Include/Multiplayer/Packet/PacketType.h
  CrazyCanvas/Include/Multiplayer/Packet/PlayerAction.h
  CrazyCanvas/Include/Multiplayer/Packet/PlayerActionResponse.h
  CrazyCanvas/Include/Multiplayer/ServerHelper.h
  CrazyCanvas/Source/ECS/Systems/Multiplayer/PacketTranscoderSystem.cpp
  CrazyCanvas/Source/Match/MatchBase.cpp
  CrazyCanvas/Source/Match/MatchClient.cpp
  CrazyCanvas/Source/Match/MatchServer.cpp
  CrazyCanvas/Source/Multiplayer/PacketType.cpp
  LambdaEngine/Include/Application/API/Events/Event.h
Labels: Clean Up, Multiplayer, Networking

#269 Added copy texture to buffer
  LambdaEngine/Include/Rendering/Core/API/CommandList.h
  LambdaEngine/Include/Rendering/Core/Vulkan/CommandListVK.h
  LambdaEngine/Source/GUI/Core/GUITexture.cpp
  LambdaEngine/Source/Rendering/Core/Vulkan/CommandListVK.cpp
  LambdaEngine/Source/Rendering/ImGuiRenderer.cpp
  LambdaEngine/Source/Resources/ResourceLoader.cpp
Labels: Fix, Rendering

#296 Rebuild SBT Optimizations
  LambdaEngine/Include/Rendering/Core/API/GraphicsDevice.h
  LambdaEngine/Include/Rendering/Core/API/SBT.h
  LambdaEngine/Include/Rendering/Core/Vulkan/GraphicsDeviceVK.h
  LambdaEngine/Include/Rendering/Core/Vulkan/SBTVK.h
  LambdaEngine/Include/Rendering/RenderGraph.h
  LambdaEngine/Source/Game/ECS/Systems/Rendering/RenderSystem.cpp
  LambdaEngine/Source/Rendering/Core/Vulkan/GraphicsDeviceVK.cpp
  LambdaEngine/Source/Rendering/Core/Vulkan/SBTVK.cpp
  LambdaEngine/Source/Rendering/RenderGraph.cpp
Labels: Fix, Rendering

#308 Changed descriptor size in the descriptor heap
  CrazyCanvas/Source/RenderStages/PlayerRenderer.cpp
Labels: Fix

#304 Changed Gun to Roller and fixed spasm
  Assets/Meshes/Roller.mtl
  Assets/Meshes/Roller.obj
  CrazyCanvas/Include/ECS/Systems/Match/ClientFlagSystem.h
  CrazyCanvas/Include/ECS/Systems/Match/FlagSystemBase.h
  CrazyCanvas/Include/ECS/Systems/Match/ServerFlagSystem.h
  CrazyCanvas/Source/ECS/Systems/Match/ClientFlagSystem.cpp
  CrazyCanvas/Source/ECS/Systems/Match/FlagSystemBase.cpp
  CrazyCanvas/Source/ECS/Systems/Match/ServerFlagSystem.cpp
  CrazyCanvas/Source/World/LevelObjectCreator.cpp
Labels: Fix, Game

#303 Player animations
  Assets/Meshes/Player/Idle.fbx
  Assets/Meshes/Player/Run.fbx
  Assets/Meshes/Player/RunBackward.fbx
  Assets/Meshes/Player/RunBackwardMirrored.fbx
  Assets/Meshes/Player/RunMirrored.fbx
  Assets/Meshes/Player/StrafeLeft.fbx
  Assets/Meshes/Player/StrafeRight.fbx
  Assets/Meshes/Player/Walk.fbx
  CrazyCanvas/Include/ECS/Systems/Player/PlayerAnimationSystem.h
  CrazyCanvas/Include/Multiplayer/MultiplayerBase.h
  CrazyCanvas/Include/World/LevelObjectCreator.h
  CrazyCanvas/Source/ECS/Systems/Player/PlayerAnimationSystem.cpp
  CrazyCanvas/Source/Match/MatchClient.cpp
  CrazyCanvas/Source/Multiplayer/MultiplayerBase.cpp
  CrazyCanvas/Source/States/BenchmarkState.cpp
  CrazyCanvas/Source/World/LevelObjectCreator.cpp
  CrazyCanvas/Source/World/Player/CharacterControllerHelper.cpp
  LambdaEngine/Source/Rendering/Animation/AnimationGraph.cpp
Labels: Rendering

#315 Removed Animated Bois in Play Session, Fixed Paint not visible on MIr…
  Assets/Shaders/RayTracing/PrimaryClosestHit.rchit
  CrazyCanvas/Source/Multiplayer/SingleplayerInitializer.cpp
  CrazyCanvas/Source/States/PlaySessionState.cpp
  CrazyCanvas/Source/States/SandboxState.cpp
  CrazyCanvas/Source/World/LevelObjectCreator.cpp
  LambdaEngine/Source/Game/ECS/Systems/Rendering/RenderSystem.cpp
Labels: Fix

#319 RenderGraph optimization
  LambdaEngine/Source/Rendering/RenderGraphParser.cpp
Labels: Fix

#326 Added support for removing Entities on the server and notifying each client
  CrazyCanvas/Include/ECS/Components/Match/FlagComponent.h
  CrazyCanvas/Include/ECS/Components/Player/HealthComponent.h
  CrazyCanvas/Include/ECS/Components/Player/WeaponComponent.h
  CrazyCanvas/Include/ECS/Systems/Player/WeaponSystem.h
  CrazyCanvas/Include/Match/MatchClient.h
  CrazyCanvas/Include/Match/MatchServer.h
  CrazyCanvas/Include/Multiplayer/Packet/PacketDeleteLevelObject.h
  CrazyCanvas/Include/Multiplayer/Packet/PacketFlagEdited.h
  CrazyCanvas/Include/Multiplayer/Packet/PacketHealthChanged.h
  CrazyCanvas/Include/Multiplayer/Packet/PacketWeaponFired.h
  CrazyCanvas/Include/World/Level.h
  CrazyCanvas/Include/World/LevelObjectCreator.h
  CrazyCanvas/Source/ECS/Systems/Match/ClientFlagSystem.cpp
  CrazyCanvas/Source/ECS/Systems/Match/ServerFlagSystem.cpp
  CrazyCanvas/Source/ECS/Systems/Player/BenchmarkSystem.cpp
  CrazyCanvas/Source/ECS/Systems/Player/HealthSystem.cpp
  CrazyCanvas/Source/Match/MatchClient.cpp
  CrazyCanvas/Source/Match/MatchServer.cpp
  CrazyCanvas/Source/Multiplayer/PacketType.cpp
  CrazyCanvas/Source/States/BenchmarkState.cpp
  CrazyCanvas/Source/World/Level.cpp
  CrazyCanvas/Source/World/LevelObjectCreator.cpp
Labels: Game, Multiplayer

#327 Normal mapping paint
  Assets/Shaders/Geometry/GeomMeshPaint.frag
  Assets/Shaders/Helpers.glsl
  Assets/Shaders/Noise.glsl
  Assets/Shaders/Paint.glsl
  Assets/Shaders/RayTracing/PrimaryClosestHit.rchit
  Assets/Shaders/RayTracing/Raygen.rgen
  Assets/Shaders/Sampling.glsl
  CrazyCanvas/Source/World/LevelObjectCreator.cpp
Labels: Rendering

#324 Fix crashing benchmarks
  .github/workflows/benchmark.py
  .github/workflows/update-charts.py
  CrazyCanvas/Include/ECS/Systems/Player/WeaponSystem.h
  CrazyCanvas/Include/States/BenchmarkState.h
  CrazyCanvas/Source/ECS/Systems/Player/BenchmarkSystem.cpp
  CrazyCanvas/Source/ECS/Systems/Player/WeaponSystem.cpp
  CrazyCanvas/Source/Match/MatchBase.cpp
  CrazyCanvas/Source/States/BenchmarkState.cpp
  CrazyCanvas/Source/World/Level.cpp
  CrazyCanvas/Source/World/LevelObjectCreator.cpp
  LambdaEngine/Source/Rendering/PaintMaskRenderer.cpp
Labels: Fix
